<div class="container">
    <div class="showtitle">
        <h2><%= @film.title %></h2>
    </div>
        <p class="pshow"><%= @film.synopsys %></p>
        <br>
        <p class="pshow">Date de sortie: <%= @film.datesortie %> </p>
</div>
