.banner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 360px;
    background: url("https://cdna.artstation.com/p/assets/images/images/003/205/438/large/anderson-vieira-banner-starwars.jpg?1471027030");
    background-size: cover;
}

.banner h1 {
    color: #fff;
    margin-top: 25px;
}