.showtitle {
    display: flex;
    justify-content: center;
}

.showtitle h2 {
    font-size: 40px;
    margin-top: 8px;
    color: white;
}

.pshow {
    color: white;
    font-size: 29px !important;
}